.carousel-indicators {
    display: flex;
      justify-content: flex-end;
      margin-right: 3%;
    
    }

.carousel-inner{
    height: 160px;
}

.swiper-pagination{
  text-align: right !important;
}

.swiper-pagination-bullet{
  background-color: #fff !important;
  width:13px !important;
  height:13px !important;
}