.backgroundContainer {
  background-image: url('https://assets.sangeethamobiles.com/placeholder_banner/placeholderBanner_1703393805_433.jpg');
   background-size: contain;

  width: 100%;
  height: 60vh; /* Adjust the height as needed */

}